ul {
  list-style-type: none;
  padding: 0;
}

.main__container{
  width: 760px;
  margin: 0 auto;
  background-color: var(--mainColor);
  color: var(--mainBlack);
  padding: 50px;
  margin-top: 50px;
  border-radius: 30px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
}
.bottom__box {
  display: flex;
  margin: 20px 40px 0 0;
  justify-content: space-between;
  align-items: center;
}